extends layout

block content
  h1 Administrator Sign-Up

  form(method="POST" action='')
    .form-group
      label(for='username')
      input(type='text' name='username' id='username' required='true' placeholder='Username')
      label(for='password')
      input(type='password' name='password' id='password' required='true' placeholder='Password')
    input(class='submit' type='submit')