extends layout

block content
  a(href="/dashboard" class="waves-effect waves-light btn") Dashboard
    i(class="material-icons right") dashboard
  h1= title

  form(method='POST' action='' class="container")
    .div.form-group
      label(for='event_name') Event Name
      input(type="text" class='userinput' id='event_name' name='event_name' value=(undefined===album ? '' : album.event_name) required='true')
      label(for='date_submitted') Event Date
      input(type="date" class='userinput' id='date_submitted' name='date_submitted' value=(undefined===album ? '' : album.date_submitted) required='true')
    button(class='btn waves-effect waves-light submit' type='submit') Submit
      i(class="material-icons right") send

    if errors
      ul
        for error in errors
          li!= error.msg