extends layout

block content
  .calender-container
    div(class="calendar-header")
      i(class="fas fa-arrow-left last")
      h1(id="month")
      h2(id="year")
      i(class="fas fa-arrow-right next")
    div(class="container")
      div(class="weekdays red lighten-1 white-text")
        p Sun
        p Mon
        p Tue
        p Wed
        p Thu
        p Fri
        p Sat
      div(id="days")
            
    

  script
    include ../public/javascripts/calender.js