extends layout

block content
  h1(id="month")
  h2(id="year")

  table(class="responsive-table centered")
    thead
      tr(class="red lighten-1")
        td Sun
        td Mon
        td Tue
        td Wed
        td Thu
        td Fri
        td Sat
    tbody(id="calender-content")
        
    

  script
    include ../public/javascripts/calender.js