extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for="description") Event Description
      input(type="text" name='description' id='description' placeholder='description' required='true')
      label(for="address") Address
      input(type="text" name='address' id='address' placeholder='address' required='true')
      label(for="meeting_date") Date of Meeting
      input(type="date" name='meeting_date' id='meeting_date' placeholder='meeting date' required='true')
      label(for="meeting_start_time") Start Time
      input(type="time" name='meeting_start_time' id='meeting_start_time' placeholder='start time' required='true')
      label(for="meeting_end_time") Ending Time
      input(type="time" name='meeting_end_time' id='meeting_end_time' placeholder='end time' required='true')
    input(class='submit' type='submit')

    if errors
      ul
        for error in errors
          li!= error.msg