extends layout

block content
  h1= title
  h2 "Preserving the Past"

  div(class="container")
    div(class="section")
      div.row
        img(src="/images/IMG_2055.jpg" class="col s4")
        img(src="/images/IMG_2047.jpg" class="col s4")
        img(src="/images/IMG_2052.jpg" class="col s4")
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultrices turpis id tincidunt bibendum. Sed nulla ex, iaculis vel condimentum vitae, porttitor pellentesque lorem. Fusce ut mauris ac libero aliquet mattis. Nulla quis rutrum ligula. Suspendisse in mollis turpis, quis pellentesque tortor. Nunc at arcu nec erat tempor molestie sed eu ipsum. Proin vulputate semper dolor vitae consectetur. Ut in porta nunc. Nunc a venenatis ante, eget mattis dolor. Vivamus cursus, libero in elementum dictum, risus eros sagittis arcu, id ullamcorper neque tellus vitae arcu. Praesent felis est, euismod et tincidunt vel, vulputate et lectus. Morbi tristique dictum diam, nec sodales orci interdum in.
    div(class="divider")
    div(class="section")

  footer(class="page-footer")
    div(class="container center-align")
      h5(class="white-text") Links
      ul
        li
          a(href="https://www.facebook.com/East-Texas-Antique-Tractor-Engine-Club-809847052432464") Facebook Page
    div(class="footer-copyright")
      div(class="container") © 2020 Copyright
        a(class="grey-text text-lighten-4 right" href="/about") About Page
      