extends layout

block content
  a(href="/dashboard" class="waves-effect waves-light btn") Dashboard
    i(class="material-icons right") dashboard

  h1= title

  form(method='POST' action='' enctype='multipart/form-data' class="container")
    label Albums
    select(name='album' required='true' placeholder='Select Album')
      for album in albums
        option(label=`${album.event_name}` value=`${album._id}`)
    div(class="file-field input-field")
      div(class="btn")
        span File
        input(type="file" class='userinput' id='photo' name='photo' required='true')
      div(class="file-path-wrapper")
        input(class="file-path validate" type="text")
    button(class='btn waves-effect waves-light submit' type='submit') Submit
      i(class="material-icons right") send