body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00b7ff;
}

h1 {
	text-align: center;
}

p {
	text-align: center;
}

.dashboard-tasks {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-gap: 2em;
	margin-top: 3em;
	margin-right: 1.5em;
	margin-left: 1.5em;
}

#month {
	text-align: center;
	margin-bottom: 1em;
	margin-top: 0.5em;
}

#year {
	text-align: center;
	margin-bottom: 1em;
}

table {
	width: 90%;
	margin-left: 4em;
}

thead td {
	color: white;
	text-align: center;
}

.button-container {
	text-align: center;
	margin-top: 9em;
}

img {
	display: inline-block;
}

section {
	margin-top: 5em;
}

h2 {
	margin: 2em 2em;
	text-align: center;
}

.calender-container {
	margin-top: 2em;
}

.weekdays {
	display: flex;
	justify-content: space-around;
}

#days {
	display: grid;
	grid-template-columns: repeat(7, auto);
	grid-template-rows: repeat(6, 5em);
	justify-items: center;
	align-items: center;
}

.calendar-header {
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid white;
}

.fas.fa-arrow-left {
	align-self: center;
	font-size: 3rem;
}

.fas.fa-arrow-left:hover {
	cursor: pointer;
}

.fas.fa-arrow-right {
	align-self: center;
	font-size: 3rem;
}

.fas.fa-arrow-right:hover {
	cursor: pointer;
}

.submit {
	display: block;
	margin: 2em auto 2em auto;
}
