body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00b7ff;
}

h1 {
	text-align: center;
}

p {
	text-align: center;
}

.dashboard-tasks {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-gap: 2em;
	margin-top: 3em;
	margin-right: 1.5em;
	margin-left: 1.5em;
}

#month {
	text-align: center;
	margin-bottom: 1em;
	margin-top: 1em;
}

table {
	width: 90%;
	margin-left: 4em;
	border-collapse: separate;
}

.days {
	height: 5em;
}

.weekday {
	color: white;
}
