body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00b7ff;
}

h1 {
	text-align: center;
}

p {
	text-align: center;
}

.dashboard-tasks {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-gap: 2em;
	margin-top: 3em;
	margin-right: 1.5em;
	margin-left: 1.5em;
}

#month {
	text-align: center;
	margin-bottom: 1em;
	margin-top: 0.5em;
}

#year {
	text-align: center;
	margin-bottom: 1em;
}

table {
	width: 90%;
	margin-left: 4em;
}

thead td {
	color: white;
	text-align: center;
}

.button-container {
	text-align: center;
	margin-top: 9em;
}

img {
	display: inline-block;
}

section {
	margin-top: 5em;
}

h2 {
	margin: 2em 2em;
	text-align: center;
}
